main#page.container {
  padding: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: none;
}

.gallery-fullscreen-slideshow {
  height: auto;
}

div.content-wrapper {
  padding: 0;
}

.location-pgs-custom-dot {
  left: 0px;
}

.custom-flexbox {
  display: flex;
  flex-direction: column;
}

.custom-flexbox[data-txt-direction="right"] {
  flex-direction: column-reverse;
}

.custom-flexbox > .custom-side {
  width: 100%;
}


/* ARTWORK DETAILS */
.custom-flexbox .artwork-details-container {
  /*background-color: yellow;*/
  padding: 80px 0px
}

.artwork-details-container > p {
  margin: 0;

  font-size: 1.4rem;
  /*color: #fbdc01;*/
  font-weight: 500;
}

.artwork-details.title {
  text-decoration: underline;
}

.artwork-details.artist {
  font-weight: 700;
}


/* BOOTSTRAP CAROUSEL */
#carouselExampleSlidesOnly {
  margin: 0 auto;
}

.carousel-inner {
  height: 100%;
}

.carousel-indicators li {
  /*Reset bootstrap*/
  border-top: none;
  border-bottom: none;
  margin-right: 8px;


  width: 12px;
  height: 12px;
  border-radius: 6px;
  cursor: auto;
}

/*RESPONSIVE TEMPLATE
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .custom-container {
    width: 80vw;
  }

  .custom-flexbox .artwork-details-container {
    padding-right: 40px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .custom-container {
    width: 66vw;
  }

  .custom-flexbox .artwork-details-container {
    padding-right: 50px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .custom-container {
  }

  .custom-flexbox {
    flex-direction: row;
  }

  .custom-flexbox > .custom-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .custom-flexbox .artwork-details-container {
    padding: 0px;
  }

  .custom-flexbox .artwork-details-container[data-position="left"] {
    margin-right: 40px;
  }

  .custom-flexbox .artwork-details-container[data-position="right"] {
    margin-left: 40px;
  }

  /* CODE BLOCK - FULL BLEED IMAGE */
  .fb-img {
    width: 130%;
    position: relative;
    left: -15%;
  }

/*  #description-coral-love {
    padding: 0;
    padding-top: 60px;
    padding-left: 40px;
  }

  #description-coral-love > .artwork-details-container {
    margin-top: 0;
  }*/
}

/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {
}*/
